* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #4e085f;
}


h1 {
    text-align: center;
    margin-top: 60px;
    color: #fff;
}
.container {
    display: flex;
    justify-content: space-between;
    padding: 60px;
} 

.card {
    width: 300px;
    height: 580px;
    margin: 40px auto 20px;
    background: #fff;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    color: #333;
}

.card img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-top: 7px;
    margin-bottom: 18px;
}

label {
    display: block;
    width: 120px;
    background: #4e085f;
    color: #fff;
    font-size: 14px;
    padding: 10px;
    margin: auto;
    border-radius: 12px;
    cursor: pointer;
}

.card input {
    display: none;
}

.card h1 {
    margin-top: 20px;
    margin-bottom: 15px;
    color: #1f1e1e;
}

.card p {
    font-size: 14px;
    margin-bottom: 10px;
}

.card ul li a {
    margin-right: 45px;
    text-align: center;
    color: #2f053a;
    cursor: pointer
}


/*TABELA DIA*/

.todo-app {
    width: 100%;
    max-width: 400px;
    background: #fff;
    margin: 40px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2 {
    color: #1f1e1e;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app img {
    width: 35px;
    margin-left: 10px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 14px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    font-size: 14px;
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #4e085f;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
}


button:hover {
    background: #2f053a;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

.todo-app ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/icons8-círculo-100.png);
    background-size: cover;
    background-position: center;
    top: 8px;
    left: 8px;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

.todo-app ul li.checked::before{
    background-image: url(images/icons8-círculo-confirmado.png);
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover {
    background: #edeef0;
}



/*TABELA NOITE*/

.todo-app-1 {
    width: 100%;
    max-width: 400px;
    background: #1f1e1e;
    margin: 40px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app-1 h2 {
    color: #fff;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app-1 img {
    width: 35px;
    margin-left: 10px;
}

.todo-app-1 .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #191818;
    border-radius: 14px;
    padding-left: 20px;
    margin-bottom: 25px;
}

.todo-app-1 input {
    color: #DDDDDD;
    font-size: 14px;
    flex: 1;
    border: none;
    outline: none;
    background: #191818;
    padding: 10px;
    
}

.todo-app-1 ul li {
    color: #DDDDDD;
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

.todo-app-1 ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/icons8-círculo-prata.png);
    background-size: cover;
    background-position: center;
    top: 8px;
    left: 8px;
}

.todo-app-1 ul li.checked {
    color: #555;
    text-decoration: line-through;
}

.todo-app-1 ul li.checked::before{
    background-image: url(images/icons8-círculo-prata-confirmado\ \(1\).png);
}

.todo-app-1 ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #DDDDDD;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

.todo-app-1 ul li span:hover {
    background: #191818;
}